.bottomFooter {
  width: 100%;
  padding: 0 60px;
  background-color: rgb(8, 8, 8);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  &__text {
    font-size: 16px;
  }
}
