.bottomFooter {
  width: 100%;
  padding: 0 60px;
  background-color: inherit;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-top: 1px solid white;

  &__text {
    font-size: 16px;
  }
}
