@use "../../basic/" as *;

.mainFooter {
  width: 100%;
  background-color: inherit;
  color: $text_light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  padding: 20px 60px;
}
