.topFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px 20px;
  color:  $text_light;
  background-color: inherit;
  &__logo{
    margin: 0;
  }
}
