//main colors
$primary: #1a1616;
$secondary: #faf4f4;
// $accent: #87d61f;

//text colors
$text_dark: #1a1616;
$text_light: #faf4f4;
$text_second: #808080;
// border
// $border_light: #ddd;
// $border_hover_text: #000;
// $border_transparent: transparent;
$blogBorder: #1a1616;
//footer colors
$footerHoverText: #808080;
$footerBorder: #faf4f4;
