.freeConsultation {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
  color: black;
  color: white;
  // margin-bottom: 100px;

  overflow: hidden;
  &__img {
    position: absolute;
    object-position: center;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: contrast(0.5);
  }
  &__box {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
   
    &__title {
      font-size: 44px;
      margin: 0;
      // margin-bottom: 15px;
      margin-right: 70px;
    }
    &__text {
      margin: 0;
      font-size: 22px;
      display: inline-block;
      margin-right: 60px;
      
    }
  }
  &__number {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    overflow: hidden;
    &:hover {
      color: black;
      transition: 300ms;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background-color: white;

      transition: transform 300ms ease-in-out;
      transform: scaleX(0);
      transform-origin: left;
    }
    &:hover::before {
      transform: scaleX(1);
    }
  }
}
