.customSlider {
  position: relative;
  height: 500px;
  filter: grayscale(0.8);
  cursor: pointer;
  transition: 0.3s;
  display: flex !important;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 50px;
  &:hover {
    backdrop-filter: grayscale(0);
    transition: 0.3s;
  }
  &__title {
    padding: 10px 15px;
    z-index: 1;
    font-weight: bold;
    border-bottom: 4px solid white;

  }
  &__img {
    position: absolute;
    object-position: center;
    width: 100%;
    object-fit: cover;

    
  }
}
