.videoBox {
  width: 100%;
  height: calc(100vh - 130px);
  position: relative;
  //  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &__videoBg {
    position: absolute;
    top: -80px;
    width: 100%;
    height: calc(100vh - 50px);
    object-fit: cover;
    filter: grayscale(0.4);
    z-index: -1;
  }
  &__title {
    // z-index: 10;
    color: white;
    font-size: 65px;
    font-weight: bold;
  }
  &__bottomDiv {
    position: absolute;
    background-color: white;
    width: 400px;
    height: 60px;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
      margin: 0;
      font-size: 30px;
      margin-right: 10px;

 
    }
    &__icon {
      font-size: 30px;
     
    }
  }
}

