.videoBox {
  width: 100%;
  height: calc(100vh - 130px);
  position: relative;
  //  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &__videoBg {
    position: absolute;
    top: -80px;
    width: 100%;
    height: calc(100vh - 50px);
    object-fit: cover;
    filter: grayscale(0.4);
    z-index: -1;
  }
  &__title {
    // z-index: 10;
    color: $text_light;
    font-size: 65px;
    font-weight: bold;
  }
  &__bottomDiv {
    position: absolute;
    background-color: #1A1616;
    width: 315px;
    padding-right: 60px;
    height: 60px;
    bottom: 0;
    right: 0;
    clip-path: polygon( 10% 0, 100% 0, 100% 100%, 0% 100%);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__text {
      margin: 0;
      font-size: 25px;
      margin-right: 10px;
      color: $text_light;

 
    }
    &__icon {
      font-size: 25px;
      color: $text_light;
     
    }
  }
  &__logoBack{
    position: absolute;
    height: 80px;
    top: -80px;
    left: 0;
    width: 226px;
    background-color: #1A1616;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    
  }
  &__arrow{
    position: absolute;
    bottom: 15px;
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    border-radius: 100%;
    color: $text_light;
    &__icon{
      font-size: 50px;
      margin: 0;
      padding: 0;
      &:hover{
        scale: 1.1;
      }
    }
  }
}

