@use "../../../basic/" as *;

.mainNav {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 60px;

  &__navLogo {
    text-decoration: none;
    color: $text_light;
    font-size: 30px;
    font-weight: bold;
  }
  &__navMenu {
    list-style: none;
    display: flex;
    margin: 0;
    width: fit-content;
    padding: 10px;
    @include media("md") {
      flex-direction: column;
      height: 60%;
      justify-content: space-between;
      align-items: center;
    }
    &__item {
      width: fit-content;
      padding: 0 30px;
      &__link {
        font-size: 18px;
        font-weight: bold;
        display: block;
        position: relative;
        width: fit-content;
        text-decoration: none;
        color: $text_light;
        padding: 5px 0;
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          height: 2px;
          z-index: -1;
          background-color: white;

          transition: transform 300ms ease-in-out;
          transform: scaleX(0);
          transform-origin: left;
        }
        &:hover::before {
          transform: scaleX(1);
        }
      }
    }
  }
  &__rightNav {
    &__btnContact {
      
      font-weight: bold;
      position: relative;
      text-decoration: none;
      color: $text_light;
      padding: 10px 20px;
      border: 1px solid $text_light;
      // width: fit-content;
      overflow: hidden;
      &:hover {
        color: black;
        transition: 300ms;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: white;

        transition: transform 300ms ease-in-out;
        transform: scaleX(0);
        transform-origin: left;
      }
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
}
.hide {
  display: none;
  transition: all 0.3s;
  opacity: 0;
}
