@use "../../../basic/" as *;

.topNav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  color: white;
  padding: 0 60px;
  background-color: #1a1616;
  width: 100%;
  &__contacts {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;

    &__phonelIcon {
      margin-right: 10px;
    }
    &__number {
      text-decoration: none;
      overflow: hidden;

      position: relative;
      text-decoration: none;
      padding: 0px 0;
      overflow: hidden;
      padding: 5px 0;

      display: flex;
      align-items: center;
      margin-right: 20px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 2px;
        z-index: 15;
        background-color: white;

        transition: transform 300ms ease-in-out;
        transform: scaleX(0);
        transform-origin: left;
      }
      &:hover::before {
        transform: scaleX(1);
      }

      &:link {
        color: white;
      }
    }
    &__emailIcon {
      margin-right: 10px;
      font-size: 16px;
    }
    &__email {
      text-decoration: none;
      overflow: hidden;

      position: relative;
      text-decoration: none;
      padding: 0px 0;
      overflow: hidden;
      padding: 5px 0;

      display: flex;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 2px;
        z-index: 15;
        background-color: white;

        transition: transform 300ms ease-in-out;
        transform: scaleX(0);
        transform-origin: left;
      }
      &:hover::before {
        transform: scaleX(1);
      }
      &:link {
        color: white;
        overflow: hidden;
      }
    }
  }
  &__rightSection {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    &__workTime {
      margin-right: 20px;
      display: flex;
      align-items: center;
      &__icon {
        margin-right: 10px;
        font-size: 20px;
      }
    }
  }
}
