@use "../../basic/" as *;

@import "./TopNavbar.scss";
@import "./MainNavbar.scss";

.navbar {
  width: 100%;
  top: -50px;
  z-index: 5;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  backdrop-filter: blur(8px);
}
