.buttonClasic {
  display: none;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  overflow: hidden;
  &:hover {
    color: black;
    transition: 0.3 all;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: white;

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  &:hover::before {
    transform: scaleX(1);
  }
}
.showBtn {
  display: block;
}
.hideBtn {
  display: none;
}
