$widthLawyer: 350px;
$heightLawyer: 450px;

.lawyer {
  width: $widthLawyer;
  height: $heightLawyer;
  overflow: hidden;
  object-position: center;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &__img {
    position: absolute;
    width: $widthLawyer;
    height: $heightLawyer;
    object-fit: cover;
    object-position: center;
    z-index: -3;
  }
  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: rgba(#161616, 0.8);
    color: #faf4f4;
    cursor: pointer;
    transition: 0.5s all;
    padding: 20px 0;
    z-index: 0;
    &__name {
      font-size: 25px;
    }
    &__position {
      font-size: 18px;
      color: #808080;
    }
  }
}
