* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none !important;
}

@import "./components/Navbar/Navbar.scss";

@import "./components/PageContent.scss";

@import "./components/Footer/Footer.scss";

@import "./components/Pages/HomePage.scss";
@import "./components/Pages/BlogPage.scss";
