@import "./ContactsLarge.scss";
@import "./TextBoxContact.scss";

.contactPage {
  width: 100%;
  height: fit-content;
  
  &__main {
    width: 100%;
    padding: 100px  80px;
    display: flex;
    display: flex;
    flex-direction: column;
    background-color: $bg_light;
    color: $text_dark;
  }
}
